flask
gunicorn
pandas
numpy
scikit-learn
matplotlib
seaborn
imbalanced-learn
shap
xgboost
BankChurnProject/preprocessing.py
BankChurnProject/EDA.py
BankChurnProject/FeatureEngineering.py
BankChurnProject/SMOT.py
BankChurnProject/ModelTraining.py
BankChurnProject/ShapModule.py
BankChurnProject/NewChurnPrediction.py
BankChurnProject/Pickel.py